* {
    margin: 0;
    padding: 0;
}
 
.mdl-layout-title {
    margin-left: 120px;
}

#userInfo {
    text-align: center;
}

#mresults {
    display: flex; 
}

body {
    background: blue!important;
    
}

.mdl-layout-title {
    font-family: 'Tangerine', serif;
    font-size: 4rem;
    text-align: center;
    margin-left: 240px;
  }

  #mresults {
    display: flex; 
  } 

  h1 {
        text-align: center;
        font-family: 'Tangerine', serif;
        text-shadow: 4px 4px 4px #aaa;
      }

      .demo-card-wide.mdl-card {
        width: 800px;
        padding: 5px;
        margin-left: 150px;
        box-shadow: none;
      }

      .demo-card-wide>.mdl-card__title {
        color: white;
        height: 176px;
        background: url('https://w0.peakpx.com/wallpaper/104/208/HD-wallpaper-marvel-and-dc-dc-superheroes-marvel-vs-dc-marvel-superheroes.jpg') center / cover;
      }

      .demo-card-wide>.mdl-card__menu {
        color: rgb(252, 248, 248);
      }